# Arquivos compilados / otimizados (Byte-compiled)
__pycache__/
*.py[cod]
*$py.class

# Extensões C
*.so

# Distribuição e empacotamento
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs de instaladores
pip-log.txt
pip-delete-this-directory.txt

# Relatórios de Testes e Cobertura (Unit test / coverage)
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pywave
.hypothesis/
.pytest_cache/
cover/

# Traduções
*.mo
*.pot

# Django:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask:
instance/
.webassets-cache

# Scrapy:
.scrapy

# Documentação Sphinx
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Ambientes Virtuais (Virtualenvs)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv/

# IDEs e Editores de Código
.vscode/
.idea/
*.swp
*.swo
.spyderproject
.spyproject

# Arquivos do Sistema Operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Arquivos de tipagem (Type checking)
.mypy_cache/
.pyre/
.typeguard/

# Outros
celerybeat-schedule
celerybeat.pid
*.sage.py